{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'tour/css/signup.css' %}">
<div class="login-page">
<div class="form">
        <h2 style="color:#4CAF50;">S i g n u p</h2>
        <br>
        <form action="{% url 'common2:signup' %}" method="post" class="login-form">
            {% csrf_token %}
            <!-- 유효성 체크 -->
            {% include 'form_errors.html' %}
            <!-- 사용자ID -->
            <div>
                <label for="username">사용자ID</label>
                <input type="text" id="username" name="username" placeholder="userID"
                       value="{{ form.username.value|default_if_none:''}}">
            </div>

            <!-- 비밀번호 1 -->
            <div>
                <label for="password1">비밀번호</label>
                <input type="password" id="password1" name="password1" placeholder="password"
                       value="{{ form.password1.value|default_if_none:''}}">
            </div>

            <!-- 비밀번호 2 -->
            <div>
                <label for="password2">비밀번호 확인</label>
                <input type="password" id="password2" name="password2" placeholder="verify password"
                       value="{{ form.password1.value|default_if_none:''}}">
            </div>

            <!-- 이름 -->
            <div>
                <label for="last_name">이름</label>
                <input type="text" id="last_name" name="last_name" placeholder="name"
                       value="{{ form.last_name.value|default_if_none:''}}">
            </div>

            <!-- 이메일 -->
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" name="email" placeholder="email"
                       value="{{ form.email.value|default_if_none:''}}">
            </div>
            <br>

            <!-- 생성버튼 -->
            <button type="submit">생성하기</button>
            <div>
                <div>
                    <p class="message">
                        이미계정이 있다면? <a href="{% url 'common2:signup' %}">로그인</a> 하세요
                    </p>
                </div>
            </div>
        </form>
</div>
</div>
{% endblock %}