*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}

/* header 스타일 */
header{height: 120px;}
.smallhead{width: 480px; height: 40px; margin:0 auto;}
.smallhead ul{float:right; margin-right: 5px;}
.smallhead ul li{list-style: none; display:inline-block; line-height: 10px; font-size: 13px;
                padding: 0 5px; letter-spacing: -2px;}
.smallhead ul li a{text-decoration: none; color: #333;}
.mainhead{width: 480px; height: 80px; margin: 0 auto; line-height: 80px;}
.mainhead .logo #logo_pic{height: 40px; float: left;}
.mainhead .logo h1{float: left; margin:0 10px 0 5px;
                letter-spacing: -2px; font-size: 1.7em;}
.mainhead .logo a{text-decoration: none; color: rgba(50, 180, 0); font-family: 'Single Day', cursive;}
.mainhead .logo a:hover{text-decoration: none;}
.mainhead .menu nav li{clear:both; display: inline-block;
                font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;}
.mainhead .menu nav li a{text-decoration: none; color: #000; }
.mainhead .menu nav a:hover{color: blueviolet; border-bottom: solid 3px blueviolet;}
.main_pic {width: 100%; text-align: center;}
.main_pic img{width: 90%; height: 800px; border-radius: 150px; margin-top: 3px;}

/* 민정 */
/* 부산 스타일 */
/* 부산 busan_top 스타일 */
#wrap .busan_top {width: 100%; height: 100%; text-align: center; }
#wrap .busan_top img{width: 60%; height: 35%;
    border-radius: 50px; margin-top: 10%; }

/* 부산 middleSection 스타일 */
#wrap .middleFont {margin: 15% 0 5% 0; text-align: center;}
#wrap .middleFont h1{font-size: 18px;}
#wrap .middleImg{width: 100%; text-align: center;}
#wrap .middleImg img{width: 40%; border-radius: 40px;}
#wrap .middleImg img:nth-of-type(1){margin-right: 2%;}

/* 부산 miniSection 스타일 */
#wrap #miniSection{}
#wrap .miniFont1{margin: 10% 0 3% 5%; }
#wrap .miniFont1 h2{font-size: 1em;}

#wrap .miniImg {width: 100%; text-align: center; }
#wrap .miniImg img{width: 20%; text-align: center; border-radius: 15px; }
#wrap .miniImg img:nth-of-type(1){margin-right: 1%;}

#wrap .miniFont2{width: 88%; margin: 1% 0 3% 5%; text-align: center;}
#wrap .miniFont2 p{font-size: 1em;}


/* 반응형 태블릿 버전 */
@media screen and (min-width: 780px){
    /* 민정 */
    /* 부산 스타일 */
    /* 부산 busan_top 스타일 */
    #wrap .busan_top img{width: 80%; height: 35%;
    border-radius: 60px; margin-top: 10%;}

    /* 부산 middleSection 스타일 */
    #wrap .middleFont {margin: 15% 0 5% 0; text-align: center;}
    #wrap .middleFont h1{font-size: 25px;}
    #wrap .middleImg{width: 100%; text-align: center;}
    #wrap .middleImg img{width: 40%; border-radius: 40px;}
    #wrap .middleImg img:nth-of-type(1){margin-right: 2%;}

    /* 부산 miniSection 스타일 */
    #wrap #miniSection{}
    #wrap .miniFont1{margin: 10% 0 3% 5%; }
    #wrap .miniFont1 h2{font-size: 1em;}

    #wrap .miniImg {width: 100%; text-align: center; }
    #wrap .miniImg img{width: 20%; text-align: center; border-radius: 15px; }
    #wrap .miniImg img:nth-of-type(1){margin-right: 1%;}

    #wrap .miniFont2{width: 88%; margin: 1% 0 3% 6%; text-align: center;}
    #wrap .miniFont2 p{font-size: 1em;}

}

/* 반응형 PC 버전 */
@media screen and (min-width: 1100px){
    header{height: 120px;}
    .smallhead{width: 1200px; height: 40px; margin:0 auto;}
    .smallhead ul{float:right; margin-right: 20px;}
    .smallhead ul li{list-style: none; display:inline-block; line-height: 40px; font-size: 13px;
                    padding: 0 5px; letter-spacing: -2px;}
    .smallhead ul li a{text-decoration: none; color: #333;}
    .mainhead{width: 1200px; height: 80px; margin: 0 auto; line-height: 80px;}
    .mainhead .logo #logo_pic{height: 80px; float: left;}
    .mainhead .logo h1{float: left; margin:0 100px 0 5px;
                    letter-spacing: -2px; font-size: 2.3em;}
    .mainhead .logo a{text-decoration: none; color: rgba(50, 180, 0); font-family: 'Single Day', cursive;}
    .mainhead .logo a:hover{text-decoration: none;}
    .mainhead .menu nav li{clear:both; display: inline-block; padding: 0 30px;
                    font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 20px;}
    .mainhead .menu nav li a{text-decoration: none; color: #000; padding: 29px 15px; }
    .mainhead .menu nav a:hover{color: blueviolet; border-bottom: solid 3px blueviolet;}
    .main_pic {width: 100%; text-align: center;}
    .main_pic img{width: 90%; height: 800px; border-radius: 150px; margin-top: 3px;}


    /* 민정 */
    /* 부산 스타일 */
    /* 부산 busan_top 스타일 */
    #wrap .busan_top {width: 100%; height: 100%; text-align: center;}
    #wrap .busan_top img {width: 80%; height: 10%;
    border-radius: 60px; margin-top: 10%; }

    /* 부산 middleSection 스타일 */
    #wrap .middleFont {margin: 15% 0 5% 0; text-align: center;}
    #wrap .middleFont h1{font-size: 40px;}
    #wrap .middleImg{width: 100%; text-align: center;}
    #wrap .middleImg img{width: 40%; border-radius: 40px;}
    #wrap .middleImg img:nth-of-type(1){margin-right: 2%;}

    /* 부산 miniSection 스타일 */
    #wrap #miniSection{}
    #wrap .miniFont1{margin: 10% 0 3% 5%; }
    #wrap .miniFont1 h2{font-size: 1em;}

    #wrap .miniImg {width: 100%; text-align: center; }
    #wrap .miniImg img{width: 20%; text-align: center; border-radius: 15px; }
    #wrap .miniImg img:nth-of-type(1){margin-right: 1%;}

    #wrap .miniFont2{width: 85%; margin: 1% 0 3% 6.9%; text-align: center;}
    #wrap .miniFont2 p{font-size: 1em;}

}