*{margin: 0; padding: 0; box-sizing: border-box;}
#recommend{width: 1200px; 800px; margin: 0 auto;}
#recommend .recommend_font{text-align: center; margin: 20px 0 20px 0;}

.recommend_info{}
.recommend_box1{position: relative; float: left;}
.recommend_box1 > h1{position: absolute; bottom: 5%; right: 5%;}

.recommend_box2{position: relative; float: right;}
.recommend_box2 > h1{position: absolute; bottom: 5%; right: 5%;}