*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}

/* header 스타일 */
header{height: 120px;}
.smallhead{width: 1200px; height: 40px; margin:0 auto;}
.smallhead ul{float:right; margin-right: 20px;}
.smallhead ul li{list-style: none; display:inline-block; line-height: 40px; font-size: 13px;
                padding: 0 5px; letter-spacing: -2px;}
.smallhead ul li a{text-decoration: none; color: #333;}

.mainhead{width: 1200px; height: 80px; margin: 0 auto; line-height: 80px;}
.mainhead .logo #logo_pic{height: 80px; float: left;}
.mainhead .logo h1{float: left; margin:0 100px 0 5px;
                letter-spacing: -2px; font-size: 2.3em;}
.mainhead .logo a{text-decoration: none; color: rgba(50, 180, 0); font-family: 'Single Day', cursive;}
.mainhead .logo a:hover{text-decoration: none;}

.mainhead .menu nav li{clear:both; display: inline-block; padding: 0 30px;
                font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;}
.mainhead .menu nav li a{text-decoration: none; color: #000; padding: 29px 15px; }
.mainhead .menu nav a:hover{color: blueviolet; border-bottom: solid 3px blueviolet;}
.main_pic {width: 100%; text-align: center;}
.main_pic img{width: 90%; height: 800px; border-radius: 150px; margin-top: 3px;}

/* 민정 */
/* busan_top 스타일 - 이름수정필요 */
#wrap{width: 480px; margin: 0 auto; text-align: center;}

/* busan_top */
#busan_top{margin: 50px 0 0 0; display: inline-block; text-align: center;
    width: 300px;}

#busan_top:nth-child(1){margin: 100px 0 0 0;}
#busan_top > img{float: left; margin: 0 auto;}

#busan_top .i1, #busan_top .i2{border-radius: 20px;}
#busan_top .i1{width: 300px; height: 265px; display: none;}
#busan_top .i2{width: 300px; height: 265px;
    /*margin-top: -4px;*/
    /*margin-left: -120px;*/}

/* busan_topInfo */
#busan_top #busan_topInfo{margin: 0 auto; text-align: center;
    /*border: 1px solid #000;*/
    }

#busan_top #busan_topInfo1, #busan_top .busan_topInfo2{margin: 7px 0 0 0px;}

#busan_top span{color: #000429; font-weight: bold; font-size: 1.3em;}
#busan_top span:nth-child(2){display: block;}
#busan_top #busan_topInfo1 p:nth-child(2){font-size: 0.9em;}
#busan_top #busan_topInfo2 p{width: 400px; margin: 15px 0 0 0; line-height: 25px;}

/* miniSection 스타일 */
#miniSection{margin: 0 auto; text-align: center;
    /*justify-content: center;*/}

.miniFont1{margin: 10% 0 3% 5%; }
.miniFont1 h2{font-size: 1em;}

.min_content{width: 200px; display: inline-block;
    /*border: 1px solid #000;*/
    margin: 0 5px 20px 5px;
    }

.min_content img{width: 200px; height: 100px;
    text-align: center; border-radius: 15px 15px 0 0;}
.min_content img:nth-of-type(1){margin-right: 1%;}

.mini_info{margin-bottom: 5px; margin-top: -4px; }
.mini_info p:nth-child(1){
    padding: 13px 0;
    background: rgba(50,50,50,0.1);
    border-radius: 0 0 15px 15px;
    font-size: 12.5px;
    font-weight: bold;
    /*opacity: 0.5;*/}

.mini_info p:nth-child(2), .mini_info p:nth-child(3){
    font-size: 12px;
    margin-top: 3px;
    color: black;
    font-weight: bold;
    /*font-weight: bold;*/}

/* footer_part2 스타일 */
#footer_part2{width: 100%; height: 265px; margin: 0 auto; text-align: center; background: #EBE9E9;}

#footer_part2 .footer_logo {width: 110px; margin: 0 auto; padding-top: 20px;}
#footer_part2 .footer_logo img {width: 30px; height: 30px; float: left;}
#footer_part2 .footer_logo p {font-size: 0.9em; padding-top: 5%;}

/* footer_part2 .footer_info 스타일 */
#footer_part2 .footer_info p{font-size: 0.8em; color: rgb(180,180,180);}

/* footer_part2 .footer_part2_sns 스타일 */
#footer_part2 .footer_part2_sns {margin-top: 21px; color: #ccc; letter-spacing: 3px;}


/* 배너 스타일 */
#vanner{width: 100px; height: 200px;
    border: 1px solid #000; padding: 30px 10px 10px 10px;
    border-radius: 5px; text-align: center;
    position: fixed; top: 100px; right: 0px;}

#vanner p, #vanner .vanner_list p{
    font-size: 10px;}


/* 반응형 태블릿 버전 */
@media screen and (min-width: 780px){
    header{height: 120px;}
    .smallhead{width: 1200px; height: 40px; margin:0 auto;}
    .smallhead ul{float:right; margin-right: 20px;}
    .smallhead ul li{list-style: none; display:inline-block; line-height: 40px; font-size: 13px;
                    padding: 0 5px; letter-spacing: -2px;}
    .smallhead ul li a{text-decoration: none; color: #333;}

    .mainhead{width: 1200px; height: 80px; margin: 0 auto; line-height: 80px;}
    .mainhead .logo #logo_pic{height: 80px; float: left;}
    .mainhead .logo h1{float: left; margin:0 100px 0 5px;
                    letter-spacing: -2px; font-size: 2.3em;}
    .mainhead .logo a{text-decoration: none; color: rgba(50, 180, 0); font-family: 'Single Day', cursive;}
    .mainhead .logo a:hover{text-decoration: none;}

    .mainhead .menu nav li{clear:both; display: inline-block; padding: 0 30px;
                    font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 20px;}
    .mainhead .menu nav li a{text-decoration: none; color: #000; padding: 29px 15px; }
    .mainhead .menu nav a:hover{color: blueviolet; border-bottom: solid 3px blueviolet;}
    .main_pic {width: 100%; text-align: center;}
    .main_pic img{width: 90%; height: 800px; border-radius: 150px; margin-top: 3px;}

    /* 민정 */
    /* busan_top 스타일 */
    #wrap{width: 780px; margin: 0 auto; text-align: center;}

    /* busan_top */
    #busan_top{width: 618.5px; text-align: center;
        /*border: 1px solid #000;*/}

    #busan_top > img{float: left; margin: 0 auto;}

    #busan_top .i1{border-radius: 20px 0 0 20px;}
    #busan_top .i2{border-radius: 0 20px 20px 0;}
    #busan_top .i1{width: 350px; height: 265px; display: inline-block;}
    #busan_top .i2{width: 350px; height: 265px; margin-left: -90px;}

    /* busan_topInfo */
    #busan_top #busan_topInfo{/*margin: 0 auto;*/ /*text-align: center;*/
        /*border: 1px solid #000;*/}

    #busan_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
    #busan_top span:nth-child(2){display: inline-block;}
    #busan_top #busan_topInfo1, #busan_top .busan_topInfo2{}

    #busan_top .busan_topInfo1 {margin-top: 10px;}
    #busan_top .busan_topInfo2 {margin-top: 15px;}

    #busan_top .busan_topInfo1 p{}
    #busan_top .busan_topInfo2 p{margin: 0 auto; width: 540px; line-height: 28px; }

    #busan_top .busan_topInfo1 p:nth-child(2){font-size: 0.9em;}


    /* miniSection 스타일 */
    #miniSection{margin: 0 auto; text-align: center;
        /*justify-content: center;*/}

    .miniFont1{margin: 0px 0 40px 0; text-align: center; }

    .miniFont1 .name1{margin-top: 150px;}
    .miniFont1 .name2, .miniFont1 .name3, .miniFont1 .name4, .miniFont1 .name5{
        margin-top: 110px;}

    .min_content{width: 250px; display: inline-block;
        /*border: 1px solid #000;*/
        margin: 0 5px 20px 5px;
        }

    .min_content img{width: 250px; height: 150px;
        text-align: center; border-radius: 15px 15px 0 0;}
    .min_content img:nth-of-type(1){margin-right: 1%;}

    .mini_info{margin-bottom: 5px; margin-top: -4px; }
    .mini_info p:nth-child(1){
        padding: 13px 0;
        background: rgba(50,50,50,0.1);
        border-radius: 0 0 15px 15px;
        font-size: 12.5px;
        font-weight: bold;
        /*opacity: 0.5;*/}

    .mini_info p:nth-child(2), .mini_info p:nth-child(3){
        font-size: 12px;
        margin-top: 3px;
        color: black;
        font-weight: bold;
        /*font-weight: bold;*/}

    /* footer_part2 스타일 */
    #footer_part2{width: 100%; height: 210px; margin: 50px 0 0 0; text-align: center; background: #EBE9E9;}

    #footer_part2 .footer_logo {width: 110px; margin: 0 auto; padding-top: 20px;}
    #footer_part2 .footer_logo img {width: 30px; height: 30px; float: left;}
    #footer_part2 .footer_logo p {font-size: 0.9em; padding-top: 5%;}

    /* footer_part2 .footer_info 스타일 */
    #footer_part2 .footer_info p{font-size: 0.8em; color: rgb(180,180,180);}

    /* footer_part2 .footer_part2_sns 스타일 */
    #footer_part2 .footer_part2_sns {margin-top: 21px; color: #ccc; letter-spacing: 3px;}


    /* 배너 스타일 */
    #vanner{width: 100px; height: 200px;
        border: 1px solid #000; padding: 30px 10px 10px 10px;
        border-radius: 5px; text-align: center;
        position: fixed; top: 100px; right: 0px;}

    #vanner p, #vanner .vanner_list p{
        font-size: 10px;}

}

/* 반응형 PC 버전 */
@media screen and (min-width: 1100px){
    header{height: 120px;}
    .smallhead{width: 1200px; height: 40px; margin:0 auto;}
    .smallhead ul{float:right; margin-right: 20px;}
    .smallhead ul li{list-style: none; display:inline-block; line-height: 40px; font-size: 13px;
                    padding: 0 5px; letter-spacing: -2px;}
    .smallhead ul li a{text-decoration: none; color: #333;}

    .mainhead{width: 1200px; height: 80px; margin: 0 auto; line-height: 80px;}
    .mainhead .logo #logo_pic{height: 80px; float: left;}
    .mainhead .logo h1{float: left; margin:0 100px 0 5px;
                    letter-spacing: -2px; font-size: 2.3em;}
    .mainhead .logo a{text-decoration: none; color: rgba(50, 180, 0); font-family: 'Single Day', cursive;}
    .mainhead .logo a:hover{text-decoration: none;}

    .mainhead .menu nav li{clear:both; display: inline-block; padding: 0 30px;
                    font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 20px;}
    .mainhead .menu nav li a{text-decoration: none; color: #000; padding: 29px 15px; }
    .mainhead .menu nav a:hover{color: blueviolet; border-bottom: solid 3px blueviolet;}
    .main_pic {width: 100%; text-align: center;}
    .main_pic img{width: 90%; height: 800px; border-radius: 150px; margin-top: 3px;}

    /* 민정 */
    /* busan_top 스타일 */
    #wrap{width: 1200px; margin: 0 auto;}

    #busan_top{margin-top: 100px; display: flex;}
    #busan_top > img{float: left; }
    #busan_top .i1, #busan_top .i2{border-radius: 20px;}
    #busan_top .i1{width: 400px; height: 265px;}
    #busan_top .i2{width: 400px; height: 265px; margin-left: -120px;}

    #busan_top .busan_topInfo{}
    #busan_top span{color: #000429; font-weight: bold; font-size: 1.8em;}
    #busan_top .busan_topInfo1, #busan_top .busan_topInfo2{margin: 10px 0 0 20px;
        text-align: left;}
    #busan_top .busan_topInfo1 p:nth-child(2){font-size: 0.9em;}
    #busan_top .busan_topInfo2 > p{font-size: 16px;
        width: 400px; margin-top: 15px; line-height: 25px; }















    /* miniSection 스타일 */
    #wrap #miniSection{width: 1200px; }
    #wrap .miniFont1{margin: 10% 0 3% 5%; }
    #wrap .miniFont1 h2{font-size: 1em;}

    .min_content{width: 250px; /*border: 1px solid #000;*/}
    .min_content{display: inline-block;}
    .min_content .mini_info{margin-bottom: 5px; margin-top: -4px; }
    .min_content .mini_info h5{background: rgba(50,50,50,0.1); padding: 13px 0; /*opacity: 0.5;*/ border-radius: 0 0 15px 15px;}
    .min_content .mini_info p{}

    #wrap .miniImg{}
    #wrap .miniImg img{width: 250px; height: 150px; text-align: center; border-radius: 15px 15px 0 0;}
    #wrap .miniImg img:nth-of-type(1){margin-right: 1%;}

    /* footer_part2 스타일 */
    #footer_part2{width: 100%; height: 190px; margin: 0 auto; text-align: center; background: #EBE9E9;}

    #footer_part2 .footer_logo {width: 110px; margin: 0 auto; padding-top: 20px;}
    #footer_part2 .footer_logo img {width: 30px; height: 30px; float: left;}
    #footer_part2 .footer_logo p {font-size: 0.9em; padding-top: 5%;}

    /* footer_part2 .footer_info 스타일 */
    #footer_part2 .footer_info p{font-size: 0.8em; color: rgb(180,180,180);}

    /* footer_part2 .footer_part2_sns 스타일 */
    #footer_part2 .footer_part2_sns {margin-top: 21px; color: #ccc; letter-spacing: 3px;}

}