/*@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Belanosima&family=Black+Han+Sans&family=Gasoek+One&family=Luckiest+Guy&family=Open+Sans&family=Rubik+Mono+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bacasime+Antique&family=Belanosima&family=Black+Han+Sans&family=Gasoek+One&family=Luckiest+Guy&family=Open+Sans&family=Rubik+Mono+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bacasime+Antique&family=Belanosima&family=Black+Han+Sans&family=Dongle:wght@300&family=Gasoek+One&family=Luckiest+Guy&family=Open+Sans&family=Rubik+Mono+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bacasime+Antique&family=Belanosima&family=Black+Han+Sans&family=Do+Hyeon&family=Dongle:wght@300&family=Gasoek+One&family=Luckiest+Guy&family=Open+Sans&family=Rubik+Mono+One&family=Shrikhand&display=swap');
*//*
font-family: 'Belanosima', sans-serif;
font-family: 'Rubik Mono One', sans-serif; - 재밌는 폰트(굵음)

font-family: 'Anton', sans-serif;

font-family: 'Dongle', sans-serif;

font-family: 'Do Hyeon', sans-serif;

*/
/*==================== [ 모바일 버전 ] ======================*/
*{margin: 0; padding: 0; box-sizing: border-box;}

/*=======================↓↓↓↓↓↓========================*/
.q_subject1{width: 426px; margin: 0 auto;
            border-radius: 5px 5px 0 0; background: #fff;}

.q_box{width: 426px; margin: 50px auto 0 auto; /*border-radius: 15px 15px 0 0;*/
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25); border-radius: 5px 5px 5px 5px;}
.q_photo{width: 426px; margin: 0 auto; text-align: center; background: #fff;}
.qq_btn_box{width: 426px; height: 50px; margin: 0 auto;
            background: #fff; /*border: 1px solid #ccc;*/
            border-radius: 0 0 5px 5px;
            }
.pic{width: 420px;}
.q_photo_box{border-radius: 0 0 5px 5px;}

.qq_modi_day{width: 260px; text-align: right; }
.qq_modi_text{width: 40px; text-align: left; display: inline-flex; justify-content: flex-end;}
.qq_modi_date{width: 150px; display: inline-flex; justify-content: flex-end;}

.q_author{width: 140px; height: 50px; margin: 0 0 0 10px; display: inline-flex; align-items: center; justify-content: flex-start;}
.qq_author{width: 40px; text-align: left; /*height: 52px;*/ display: inline-block; justify-content: flex-end;}
.qq_author_date{width: 260px; text-align: right; display: inline-flex; justify-content: flex-end;}
.qq_create_date{width: 150px; display: inline-flex; justify-content: flex-end;}

.q_create_modi{width: 260px; font-size: 13px; margin: 5px 10px 5px 0; line-height: 21px; display: inline-block; float: right; justify-content: flex-end;}

.q_subject2-1{/*border: 1px solid #ccc;*/ border-radius: 0 0 5px 5px;}
.q_subject2-2{width: 426px; height: 40px; display: flex; text-align: center;
    align-items: center; justify-content: center; padding: 30px;
    /*border: 1px solid #ccc;*/ border-bottom: 1px solid #76B852; border-top: 1px solid #76B852;}
.q_content{width: 426px; height: 100px; border-top: 1px solid #76B852; margin: 0 auto; padding: 10px 0 0 7px; background: #fff;}

.q_modi_btn_box{width: 50px; margin: 10px 10px 0 0; padding: 5px; background: #76B852; display: inline-block; float: right; text-align: center; border-radius: 3px; }
.q_modi_btn{color: #fff;}

.q_del_btn_box{width: 50px; margin: 10px 10px 0 10px; padding: 5px; background: #76B852; display: inline-block; float: right; text-align: center; border-radius: 3px; /*border: 1px solid #000;*/}
.q_del_btn{color: #fff;}

.q_del_btn_box:hover,
.q_modi_btn_box:hover{background: #205C00; cursor: pointer;}
/*=======================↓↓↓↓↓↓========================*/


/* 영역 구분 */
/*.comment_box_in4,
.comment_chat{border: 1px solid #ccc;}*/
/*.comment_id, .comment_date_box,
.comment_btn_box
.comment_icon,*/
/*.per,*/
/*.comment_modify, .comment_write,*/
/*.comment_modify_text,
.comment_write_text,*/
/*.comment_modify_date,
.comment_write_date,*/
/*.comment_box,*/
/*.comment_modi_btn_box,
.comment_del_btn_box*/
/* .comment_modi_btn*/
/*, .comment_del_btn*/
/*=======================↓↓↓↓↓↓========================*/
body{background: #76B852;}
.comment_box{width: 470px; margin: 50px auto 25px auto; border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);}
.comment_box:nth-child(1){}

.comment_box_in4{height: 50px; border-radius: 15px 15px 0 0; background: #fff; border-bottom: 0;}

.comment_icon{width: 48px; height: 100%; padding: 15px 0 0 12px; text-align: content; display: inline-block; float: left;}
.per{width: 20px; height: 20px; vertical-items: middle;}
.comment_id{width: 35%; height: 100%; padding: 2px; display: inline-flex; align-items: center; justify-content: flex-start;}

.comment_date_box{width: 251.55px; height: 100%; padding: 5px; font-size: 13px; float: right; display: block; align-items: content; justify-content: flex-end;}

.comment_modify{padding: 3px; display: flex; align-items: content; justify-content: flex-end;}
.comment_modify_text{width: 55px; text-align: center; display: flex; align-items: content; justify-content: flex-start;}
.comment_modify_date{display: inline-block; text-align: center;}

.comment_write{padding: 3px; display: flex; align-items: content; justify-content: flex-end;}
.comment_write_text{width: 55px; text-align: center; display: flex; align-items: content; justify-content: flex-start;}
.comment_write_date{display: inline-block; text-align: center;}


.comment_chat{width: 100%; height: 100px; padding: 5px; border-top: 1px solid #76B852; background: #fff;}

.comment_btn_box{width: 100%; height: 40px; border-radius: 0 0 15px 15px; border: 0 0 0 0 solid #ccc; background: #fff; display: flex; align-items: center; justify-content: flex-end;}

.comment_modi_btn_box{width: 50px; margin: 0 0 0 0; padding: 5px; background: #76B852; display: inline-block; float: right; text-align: center; border-radius: 3px; }
.comment_modi_btn{color: #fff; /*font-weight: bold;*/}

.comment_del_btn_box{width: 50px; margin: 0 10px 0 10px; padding: 5px; background: #76B852; display: inline-block; float: right; text-align: center; border-radius: 3px; /*border: 1px solid #000;*/}
.comment_del_btn{color: #fff; /*font-weight: bold;*/}

.comment_del_btn_box:hover, .comment_modi_btn_box:hover{background: #205C00;}

/*=======================↓↓↓↓↓↓========================*/
.comment_write_place,
.comment_btns1, .comment_textarea_box,
.comment_textarea, .comment_submit_btn,
.comment_list_btn, .comment_btns2{/*border: 1px solid #000;*/}

.comment_write_place{width: 450px; border-radius: 5px;
                     box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25); background: #fff;
                     margin: 80px auto 80px auto; text-align: center; justify-content: center; /*display: inline-flex;*/
                     display: flex; align-items: center;}

.comment_btns1{width: 310px; margin: 0 auto; display: inline-block;}
.comment_textarea_box{width: 310px; margin: 0 auto;}
.comment_textarea{width: 300px; padding: 15px 0 10px 8px; border-radius: 5px; border: 0; resize: none;}

.comment_btns2{width: 130px; margin: 2px 5px 0 0; display: inline-block;}
.comment_submit_btn{width: 120px; margin: 4px auto; padding: 25px; color: #fff; background: #76B852; display: inline; border: 0; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5); /*box-shadow: 0px 0px 5px 1px rgba(32, 92, 0, 0.5);*/}
.comment_list_btn{width: 120px; margin: 4px auto; padding: 25px; color: #fff; background: #76B852; border: 0; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);}

.comment_submit_btn:hover,
.comment_list_btn:hover{background: #205C00; cursor: pointer;}



/*=======================↓↓↓↓↓↓========================*/
/*==================== [ 태블릿 버전 ] ======================*/
@media screen and (min-width: 780px){

}

/*=========================↓↓↓↓↓↓=========================*/
/*======================== [ PC 버전 ] ========================*/
@media screen and (min-width: 1100px){

}
