#board_main ul.pagination{text-align: center;}
#board_main .pagination .page-item{display: inline-block; margin-top:20px;}
#board_main .pagination .page-item-disabled{
    display: none;
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }

#board_main .pagination .page-link{
    margin: 0 2px;
    padding:2px 2px;
    color: #0d6efd;
    text-decoration: none;
    border-bottom: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

/*#board_main .pagination li .page-link:focus{
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}*/

.pagination .current-page .page-link {
    background: rgba(127, 255, 212, 0.8);
}

    @media screen and (min-width: 1100px){

        #board_main .pagination .page-item{display: inline-block; margin-top:30px;}


        #board_main .pagination li .page-link{
            /*font-size: 1.1em;
            border-bottom: solid 1px;
            color: #03c75a;
            margin: 0 3px;
            padding:2px 3px;*/

            margin: 0 3px;
            padding:2px 3px;
            font-size: 1.1em;
            color: #0d6efd;
            text-decoration: none;
            border-bottom: 1px solid #dee2e6;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        /*#board_main .pagination li .page-link:focus{
            z-index: 3;
            color: #0a58ca;
            background-color: #e9ecef;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }*/
}