/* 강원/제주 페이지 */
/*  내가 했던것
#gangwon_wrap{width: 1200px; margin:0 auto;}
.box1{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.3);}
.box1 img{width: 300px; height:300px; margin: 50px 0 50px 30px; border-radius: 30px 0 0 30px; float: left;}
.box1 img:nth-of-type(2){margin-left: -30px; border-radius: 30px; margin-right: 30px;}
.box1 .introduce1{padding-top: 50px; width: 600px; float: right; margin-right: 100px;}
.box1 .introduce1 .region1{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box1 .introduce1 p{line-height: 2;}

.box2{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2);}
.box2 img{width: 350px; height:300px; margin: 50px 70px 50px 0px; border-radius: 30px; float: right;}
.box2 img:nth-of-type(2){margin-left: 30px; border-radius: 30px; margin-right: -30px;}
.box2 .introduce2{padding-top: 70px; width: 600px; float: left; margin-left: 20px;}
.box2 .introduce2 .region2{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box2 .introduce2 h3{text-align: right;}
.box2 .introduce2 p{line-height: 2;}
*/

#gangwon_wrap{width: 100%; margin:0 auto;text-align: center; padding:100px;}

#gj_top{padding: 50px 0; box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); width:100%;
}

#gj_top{box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); width: 652.25px; display: inline-block;}
#gj_top:nth-child(1){height: 600px;}
#gj_top:nth-child(2){height: 630px;}
#gj_top:nth-child(3){height: 630px;}
#gj_top:nth-child(4){height: 660px;}
#gj_top:nth-child(5){height: 635px;}

#gj_top > img{overflow: hidden; margin-top:20px;}
#gj_top img{width: 300px; height: 280px; border-radius: 30px; transition: all 0.2s linear; overflow: hidden; }
#gj_top img:hover{transform: scale(1.05); overflow: hidden;}
#gj_top .i2{margin-left: -30px;}
#gj_top #gj_topInfo{display: inline-block; margin-left: 0;}
#gj_top .gj_topInfo1, #gj_top .gj_topInfo2{}

#gj_top .gj_topInfo1 p:nth-child(2){font-size: 0.9em;}
#gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
#gj_top .gj_topInfo2 p{width: 450px;}
#gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
#gj_top .region2{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}


.miniImg_wrap{width: 100%; height: 550px; text-align: center; box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);}
.miniImg_wrap h1{margin: 10px 0; text-align: left; padding-left: 50px;}
.min_content{width: 330px; height:450px; display: inline-block; text-align: center; margin: 10px 10px 0 0;}
.min_content .scale{overflow: hidden; width: 330px; height: 250px;}
.min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
.min_content:nth-last-of-type(){display: inline-block; text-align: center; margin-right: 0px;}
.min_content img{width: 330px; height: 250px; border-radius: 15px 15px 0 0; }
.min_content .mini_info .lol{font-size:20px; font-weight:bold;}
.min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0;
                        border-radius: 0 0 15px 15px; text-align: center; font-size: 0.9em; margin-top: -5px;}
.min_content .mini_info .tag2{padding: 0 15px;}
.min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
.min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}
.min_content .mini_info p:nth-of-type(2){margin-bottom: 10px;}
.min_content .mini_info .detail{height: 130px; font-size: 16px; display:none; }

.banner_img{display:inline-block; position:relative;}
.banner_img:hover:after, .banner_img:hover > .hover_text{display:block;}
.banner_img:after, .hover_text{display:none;}
.banner_img:after{content:''; position:absolute;
top:0; right:0; bottom:0; left:0; background: #000; opacity:0.4;}
.banner_img{overflow:hidden; border-radius:15px;}
.banner_img i2{height:265px;}
.banner_img:hover img{
transform:scale(1.2); transition:1s;}
.hover_text{position:absolute; top:200px; left:10px; color: #fff; z-index:20;
                font-weight:600; font-size:17px;}

/* ============도 소개 끝============ */

/* 액자식 시작 */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ============ miniImg_wrap 스타일 ============ */
/* miniImg_wrap 전체 */
.miniImg_wrap1, .miniImg_wrap2, .miniImg_wrap3, .miniImg_wrap4, .miniImg_wrap5{
    margin-bottom: 30px; padding: 50px auto; /*border: 1px solid #000;*/}


.miniFont1{margin: 50px 0 40px 10px; padding: 50px auto; font-size: 25px; text-align:center;}

/* ============ min_content 스타일 ============ */
/* min_content img [전체] */
.min_content{width: 500px; height: 400px; display: inline-block; text-align: center;
    margin: 20px 0; /*border: 1px solid #000;*/}

.miniImg_wrap3 .min_content{height: 515px;}
.miniImg_wrap4 .min_content{height: 450px;}
.miniImg .miniFont1 strong{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}

/* min_content img [태그] */
.min_content .scale{overflow: hidden; width: 500px; height: 250px;}
.min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
.min_content img{width: 500px; height: 250px; border-radius: 15px 15px 0 0;}

/* ============ mini_info 스타일 ============ */
/* mini_info p태그 */
.min_content .mini_info p:nth-of-type(2){margin: 10px 0 10px 0;}
.min_content .mini_info .detail{font-size: 16px; }
.miniImg_wrap3 mini_info{height: 100px;}

/* mini_info p-Tag 태그 */
.min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0; border-radius: 0 0 15px 15px; text-align: center; font-size: 0.9em; margin-top: -5px;}
.min_content .mini_info .tag2{padding: 0 15px;}

/* mini_info p-A 태그 */
.min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
.min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}

/* index 페이지 */
.main_box1{width:100%; height:1500px;}
.main_box1 h1{position:relative; top:30px;}
.index_scale{float:left; margin-left:90px;}
.index_scale img{width:300px; margin:90px 20px 40px 40px; border-radius:15px;}
.index_scale p{width:30%; position:relative; bottom:20px; left:50px;}
.index_scale i{position:relative; left:170px;}





/* 반응형 태블릿 버전 */
@media screen and (min-width: 780px){
    #gangwon_wrap{width: 100%; margin:0 auto;}



#gj_top{padding: 50px 0; display: flex; justify-content: center; align-items: center;
                     box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); margin-right:10px;}

#gj_top > img{float: left; overflow: hidden;}
#gj_top img{width: 340px; height: 300px; border-radius: 30px; transition: all 0.2s linear; overflow: hidden;}
#gj_top img:hover{transform: scale(1.05); overflow: hidden;}
#gj_top img:nth-of-type(2){width: 340px; height: 300px;}
#gj_top .i2{margin-left: -30px;}

#gj_top .gj_topInfo{margin: 10px 0 0 20px; }
#gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
#gj_top .region2{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}
#gj_top #gj_topInfo{margin-left: 30px; height: 280px;}
#gj_top .gj_topInfo1, #gj_top .gj_topInfo2{margin: 10px 0 0 20px;}
#gj_top .gj_topInfo1 p:nth-child(2){font-size: 0.9em;}
#gj_top .gj_topInfo2 > p{width: 400px; margin-top: 10px; line-height: 1.7;}

/* ============도 소개 끝============ */

/* 액자식 시작 */

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.miniImg_wrap{width: 100%; height: 550px; text-align: center; box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); position:fi}
.miniImg_wrap h1{margin: 20px 0; text-align: left; padding-left: 50px;}
.min_content{width: 330px; height:450px; display: inline-block; text-align: center; margin: 10px 10px 0 0; }
.min_content .scale{overflow: hidden; width: 330px; height: 250px;}
.min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
.min_content:nth-last-of-type(){display: inline-block; text-align: center; margin-right: 0px;}
.min_content img{width: 330px; height: 250px; border-radius: 15px 15px 0 0; }
.min_content .mini_info{width:400px; margin:0 auto;}
.min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0;
                        border-radius: 0 0 15px 15px; text-align: center; font-size: 0.9em; margin-top: -5px;}
.min_content .mini_info .tag2{padding: 0 15px;}
.min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
.min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}
.min_content .mini_info p:nth-of-type(2){margin-bottom: 10px;}
.min_content .mini_info .detail{height: 130px; font-size: 16px; display:inline; }

/* 반응형 태블릿 버전 */
@media screen and (max-width: 1100px){
    /* ============도 소개 ============ */
    #gangwon_wrap{/*width: 1100px;*/ width: 90%; margin:0 auto; text-align: center;}

    #gj_top{box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); width: 652.25px; display: inline-block;}
    #gj_top:nth-child(1){height: 680px;}
    #gj_top:nth-child(2){height: 650px;}
    #gj_top:nth-child(3){height: 630px;}
    #gj_top:nth-child(4){height: 660px;}
    #gj_top:nth-child(5){height: 635px;}

    #gj_top > img{overflow: hidden;}
    #gj_top img{width: 340px; height: 300px; border-radius: 30px; transition: all 0.2s linear; overflow: hidden; }
    #gj_top img:hover{transform: scale(1.05); overflow: hidden;}
    #gj_top .i2{margin-left: -30px;}

    #gj_top #gj_topInfo{display: inline-block; margin-left: 0;}
    #gj_top .gj_topInfo1, #gj_top .gj_topInfo2{margin: 20px auto 0 auto;}
    #gj_top .gj_topInfo1 p:nth-child(2){font-size: 0.9em;}
    #gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
    #gj_top .gj_topInfo2 p{width: 500px;}


    .banner_img:hover:after, .banner_img:hover > .hover_text{display:none;}


    /* ============도 소개 끝============ */

    /* 액자식 시작 */
    /* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
    /* ============ miniImg_wrap 스타일 ============ */
    /* miniImg_wrap 전체 */
    .miniImg_wrap1, .miniImg_wrap2, .miniImg_wrap3, .miniImg_wrap4, .miniImg_wrap5{
        margin-bottom: 90px; padding: 50px auto; /*border: 1px solid #000;*/}
    .miniImg_wrap1 .miniFont1{margin-top: 50px;}

    .miniFont1{text-align:center; font-size: 25px;}

    /* ============ min_content 스타일 ============ */
    /* min_content img [전체] */
    .min_content{width: 500px; height: 470px; display: inline-block; text-align: center;
        margin: 20px 0; /*border: 1px solid #000;*/}

    .miniImg_wrap3 .min_content{height: 515px;}
    .miniImg_wrap4 .min_content{height: 450px;}

    /* min_content img [태그] */
    .min_content .scale{overflow: hidden; width: 500px; height: 250px;}
    .min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
    .min_content img{width: 400px; height: 250px; border-radius: 15px 15px 0 0;}

    /* ============ mini_info 스타일 ============ */
    /* mini_info p태그 */
    .min_content .mini_info p:nth-of-type(2){margin: 10px 0 10px 0;}
    .min_content .mini_info .detail{font-size: 16px; }
    .miniImg_wrap3 mini_info{height: 100px;}

    /* mini_info p-Tag 태그 */
    .min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0; border-radius: 0 0 15px 15px; text-align: center;}
    font-size: 0.9em; margin-top: -5px; width:400px; margin-left:50px;}
    .min_content .mini_info .tag2{padding: 0 15px;}

    /* mini_info p-A 태그 */
    .min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
    .min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}


}







/* pc버전 */
@media (min-width: 1100px) {
#gangwon_wrap{width: 1400px; margin:0 auto;}

#gj_top{width:100%; padding: 50px 0; display: flex; justify-content: center; align-items: center;
                     box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2); }

#gj_top:nth-child(1){height: 400px;}
#gj_top:nth-child(2){height: 430px;}
#gj_top:nth-child(3){height: 430px;}
#gj_top:nth-child(4){height: 460px;}
#gj_top:nth-child(5){height: 435px;}

#gj_top > img{float: left; overflow: hidden;}
#gj_top img{width: 340px; height: 300px; border-radius: 30px; transition: all 0.2s linear; overflow: hidden;}
#gj_top img:hover{transform: scale(1.05); overflow: hidden;}
#gj_top img:nth-of-type(2){width: 340px; height: 300px;}
#gj_top .i2{margin-left: -30px;}

#gj_top .gj_topInfo{margin: 10px 0 0 20px; }
#gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
#gj_top .region2{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}
#gj_top #gj_topInfo{margin-left: 30px; height: 280px;}
#gj_top .gj_topInfo1, #gj_top .gj_topInfo2{margin: 10px 0 0 20px;}
#gj_top .gj_topInfo1 p:nth-child(2){font-size: 0.9em;}
#gj_top .gj_topInfo2 > p{width: 500px; margin-top: 10px; line-height: 1.7;}

/* ============도 소개 끝============ */

/* 액자식 시작 */

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.miniImg_wrap{width: 100%; height: 550px; text-align: center; box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);}
.miniImg_wrap h1{margin: 20px 0; text-align: left; padding-left: 50px;}
.min_content{width: 330px; height:450px; display: inline-block; text-align: center; margin: 10px 10px 0 0; }
.banner_img:hover:after, .banner_img:hover > .hover_text{display:none;}
.min_content .scale{overflow: hidden; width: 330px; height: 250px;}
.min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
.min_content:nth-last-of-type(){display: inline-block; text-align: center; margin-right: 0px;}
.min_content img{width: 330px; height: 250px; border-radius: 15px 15px 0 0; }
.min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0;
                        border-radius: 0 0 15px 15px; text-align: center; font-size: 0.9em; margin-top: -5px;}
.min_content .mini_info .tag2{padding: 0 15px;}
.min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
.min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}
.min_content .mini_info p:nth-of-type(2){margin-bottom: 10px;}
.min_content .mini_info .detail{height: 130px; font-size: 16px;}

.min_content .mini_info{width:100%;}
}
