{% load static %}
<link rel="stylesheet" href="{% static 'tour/css/style.css' %}">
<link rel="stylesheet" href="{% static 'tour/css/head.css' %}">
<script src="{% static 'tour/js/main_js.js' %}"></script>

<div id="container">
    <header>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'tour/images/greenboat.png' %}" alt="메인" id="logo_pic">
                <h1>
                    <span class="abc">그린</span><span class="cba">투어</span>
                </h1>
            </a>
        </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'tour:detail_ca' %}">수도권</a></li>
                <li><a href="{% url 'tour:detail_gs' %}">경상권</a></li>
                <li><a href="{% url 'tour:detail_cj' %}">충청/전라권</a></li>
                <li><a href="{% url 'tour:detail_gj' %}">강원/제주권</a></li>
                <li><a href="{% url 'tour:question_list' %}">여행 후기</a></li>

            </ul>
        </nav>
        <div class="smallhead">
            <ul>
                <li>
                    {% if user.is_authenticated %}  <!-- 로그인이 되었다면 -->
                    <a href="{% url 'common2:logout' %}">
                        <span style="font-size: 1.1em; letter-spacing: -1px;">( {{ user.username }} )</span> 로그아웃
                    </a>
                    {% else %}
                    <a href="{% url 'common2:login' %}">
                        {{ user.username }}로그인
                    </a>
                    {% endif %}
                </li>
                <li><a href="{% url 'common2:signup' %}">회원가입</a></li>
                <li><a href="#">도움말</a></li>
                <!--<li>[ <span id="demo"></span> ]</li>-->
            </ul>
        </div>
    </header>
</div>