{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'tour/css/indexstyle.css' %}">

<section>
            <div class="main_pic">
                    <img src="{% static 'tour/images/sokcho1.jpg' %}" alt="속초사진" id="pic1">
                    <img src="{% static 'tour/images/korea.png' %}" alt="대한민국" id="pic2">
            </div>
            <!-- 중간 -->
            <div class="main_box1">
                <h2>그린투어 <span style="font-size:1.4em;">B E S T</span> 추천여행지</h2>

            <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}" id="myImage"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
         <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
         <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}
