{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'tour/css/indexstyle.css' %}">

<section>
            <div class="main_pic">
                    <img src="{% static 'tour/images/sokcho1.jpg' %}" alt="속초사진" id="pic1">
                    <img src="{% static 'tour/images/korea.png' %}" alt="대한민국" id="pic2">
            </div>
            <!-- 중간 -->
            <div class="main_box1">
                <h2>그린투어 <span style="font-size:1.4em;">B E S T</span> 추천여행지</h2>

            <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_ca' %}" class="ab_img"><img src="{% static 'tour/images3/서울/N서울타워/서울타워 배경.jpg' %}" id="myImage"></a>
                <p>서울 - 서울타워<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_ca' %}" class="ab_img"><img src="{% static 'tour/images3/서울/경복궁/경복궁 배경.png' %}"></a>
                <p>서울 - 경복궁<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_ca' %}" class="ab_img"><img src="{% static 'tour/images3/인천/송도/송도 배경.png' %}"></a>
                <p>인천 - 송 도<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gs' %}" class="ab_img"><img src="{% static 'tour/images_min/busan/부산해녀촌.jpg' %}" alt="송도"></a>
                <p>부산 - 영도해녀촌<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gs' %}" class="ab_img"><img src="{% static 'tour/images_min/daegu/경상감영공원.jpg' %}" alt="경상감영공원"></a>
                <p>대구 - 이월드<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gs' %}" class="ab_img"><img src="{% static 'tour/images_min/gyeongnam/경남진해 강화역 여좌천.jpg' %}" alt="진해 여좌천"></a>
                <p>경남 - 진해 여좌천<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gs' %}" class="ab_img"><img src="{% static 'tour/images_min/kyongbuk/울릉도독도.jpg' %}" alt="독도"></a>
                <p>경북 - 독도<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_cj' %}" class="ab_img"><img src="{% static 'tour/images4/전라도/Jeonju.png' %}"></a>
                <p>전주 - 한옥마을<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
         <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_cj' %}" class="ab_img"><img src="{% static 'tour/images4/충청도/옥계폭포.png' %}"></a>
                <p>충청 - 옥계폭포<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
         <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gj' %}" class="ab_img"><img src="{% static 'tour/images2/강원강릉1.jpg' %}"></a>
                <p>강릉 - 아르떼뮤지엄<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gj' %}" class="ab_img"><img src="{% static 'tour/images2/제주시2.jpg' %}"></a>
                <p>제주 - 협재해수욕장<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
        <div class="index_box">
            <div class="index_scale">
                <a href="{% url 'tour:detail_gj' %}" class="ab_img"><img src="{% static 'tour/images2/서귀포시1.jpg' %}"></a>
                <p>제주 - 성산일출봉<i class="fa-regular fa-heart fa-xl"></i><i class="fa-regular fa-map fa-xl"></i></p>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}
