{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<section id="section1">
            <div class="main_pic">
                    <img src="{% static 'tour/images/sokcho1.jpg' %}" alt="속초사진" id="pic1">
                    <img src="{% static 'tour/images/korea.png' %}" alt="대한민국" id="pic2">
            </div>
            <!-- 중간 -->
            <div class="main_box1">
                <h1>그린투어 이달의 추천 여행지</h1>
                <div class="index_img">

            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
            <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
             <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
             <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
             <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
             <div class="index_box">
                <div class="index_scale">
                    <a href="" class="ab_img"><img src="{% static 'tour/images/sokcho1.jpg' %}"></a>
                    <p>푸하하하하<i class="fa-regular fa-heart fa-xl"></i></p>
                </div>
            </div>
        </div>
            </div>
        </section>

        <footer>
            <div>
                <ul id="bottom-menu">
                    <li><a href="#">사이트소개</a></li>
                    <li><a href="#">임원소개</a></li>
                    <li><a href="#"><b>개인정보 처리방침</b></a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="https://gangnam.greenart.co.kr/?cam_idx=1" target="_blank">본사홈페이지</a></li>

                </ul>
            </div>
            <div class="about_us">
                문의) 그린투어 운영팀: help@greentour.com
            </div>
        </footer>

{% endblock %}
