*{margin: 0; padding: 0; box-sizing: border-box;}

/* 이달의 추천 여행지 - recommend 스타일*/
#recommend{width: 1200px; margin: 0 auto;
    border: 1px solid #000;}

.recommend_contentName{text-align: center; margin: 20px 0 20px 0;
    border: 1px solid #000;}

.recommend_content{}
.recommend_box1{position: relative; float: left;}
.recommend_box1 img{width: 100%; height: 20em;}
.recommend_box1 .recommend_box1_font{position: absolute; bottom: 5%; right: 5%;}

.recommend_box2{position: relative; float: left;}
.recommend_box2 img{width: 100%; height: 20em;}
.recommend_box2 .recommend_box2_font{position: absolute; bottom: 5%; right: 5%;}

