{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'tour/css/boardDetail.css' %}">
<!--=========== confirm or alert 구현 수정 필요 ===========-->
<!--=========== 질문자 구간 ===========-->
<div class="q_detail_container">
    <div class="q_box">
        <!--=========== 질문자 제목 ===========-->
        <div class="q_subject1">
            <div class="q_author">
                {{ question.author }}
            </div>

            <!--=========== 질문자 ID/수정일 text ===========-->
            <div class="q_create_modi">
                <!-- 5장 - 질문 수정일이 있으면 -->
                {% if question.modify_date %}
                <div class="qq_modi_day">
                    <div class="qq_modi_text">수정일</div>
                    <div class="qq_modi_date">{{ question.modify_date|date:"Y.m.d H:i:s" }}</div>
                </div>
                {% endif %}
                <div class="qq_author_date">
                    <div class="qq_author">작성일</div>
                    <div class="qq_create_date">{{ question.create_date|date:"Y.m.d H:i:s" }}</div>
                </div>
            </div>
            <div class="q_subject2-1">
                <p class="q_subject2-2">{{ question.subject }}</p>
            </div>
        </div>
        <div class="q_subject2">
            <!--=========== 질문자 내용/사진 ===========-->
            <div class="q_photo_box">
                <!-- 사진이 있다면 -->
                {% if question.photo %}
                <div class="q_photo">
                    <img src="{{ question.photo.url }}" class="pic">
                </div>
                {% endif %}
                <!--=========== 질문자 내용 ===========-->
                <div class="q_content">
                    {{ question.content }}
                </div>
                <!--=========== 질문자 수정/삭제 버튼 ===========-->
                {% if question.author == request.user %}
                <div class="qq_btn_box">
                    <div class="q_modi_btn_box">
                        <a href="{% url 'tour:question_modify' question.id %}"
                            class="q_modi_btn">수정</a>
                    </div>
                    <!-- data-uri는 제이쿼리와 연동하는 부분 -->
                    <div class="q_del_btn_box">
                        <a href="#"
                           data-uri="{% url 'tour:question_delete' question.id %}"
                           class="delete q_del_btn">삭제</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--=========== 답변자 구간 ===========-->
    {% for answer in question.answer_set.all %}
    <!--답변자 댓글 아이콘 / 유저네임/작성일/수정일/내용 -->
    <div class="comment_box">
        <!--답변자 댓글 아이콘 / 유저네임/작성일/수정일 -->
        <div class="comment_box_in4">
            <!--답변자 댓글 아이콘 -->
            <div class="comment_icon">
                <img src="{% static 'tour/images_min/z.icon/per.png' %}" alt="사람" class="per">
            </div>
            <!--답변자 ID -->
            <div class="comment_id">
                {{ answer.author }}
            </div>
            <!--답변자 작성일 / 수정일 -->
            <div class="comment_date_box">
            {% if answer.modify_date %}
            <!--답변자 수정일 -->
            <div class="comment_modify">
                <div class="comment_modify_text">수정일</div>
                <div class="comment_modify_date">{{ answer.modify_date|date:"Y.m.d H:i:s" }}</div>
            </div>
            {% endif %}
            <!--답변자 작성일 -->
            <div class="comment_write">
                <div class="comment_write_text">작성일</div>
                <div class="comment_write_date">{{ answer.create_date|date:"Y.m.d H:i:s" }}</div>
            </div>
        </div>
    </div>

    <div class="comment_chat_box">
        <!--답변자 댓글 내용-->
        <div class="comment_chat">{{ answer.content }}</div>
            <!--=========== 답변자 수정/삭제 버튼 ===========-->
            {% if answer.author == request.user %}
            <div class="comment_btn_box">
                <div class="comment_modi_btn_box">
                    <a href="{% url 'tour:answer_modify' answer.id %}"
                        class="comment_modi_btn">수정
                    </a>
                </div>
                <!-- data-uri는 제이쿼리와 연동하는 부분 -->
                <div class="comment_del_btn_box">
                    <a href="#"
                       data-uri="{% url 'tour:answer_delete' answer.id %}"
                       class="delete comment_del_btn">삭제
                    </a>
                </div>
            </div>
            {% endif %}
            </div><!--답변자 댓글 내용 박스 -->
        </div><!--답변자 댓글 박스 -->
    </div>
    {% endfor %}
    <div class="comment_write_place">
        <!--=========== 답변자 textarea / 등록 버튼 ===========-->
        <form action="{% url 'tour:answer_create' question.id %}"
              method="post" class="comment_btns1">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <!--=========== 답변자 textarea ===========-->
            <div class="comment_textarea_box">
                <textarea name="content" id="content"
                          rows="10" cols="40" class="comment_textarea"
                          {% if not user.is_authenticated %}disabled{% endif %}
                          placeholder="댓글을 남겨주세요"></textarea>
                    <!--=========== 답변자 등록 버튼 ===========-->
                <input type="submit" value="답변 등록"
                       class="comment_submit_btn">
                <div class="comment_btns2">
                    <!--=========== 목록 버튼 ===========-->
                    <button type="button" class="comment_list_btn"
                            onclick="location.href='{% url 'tour:question_list' %}'">목록</button>
                </div>
            </div>
        </form>
    </div>
{% include 'footer.html' %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.delete').click(function(){
            if(confirm('정말 삭제하시겠습니까?')){
                location.href=$(this).data('uri');  //현재 대상 객체의 주소를 이동
            }
        });
    });
</script>
{% endblock %}