{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

        <section id="gangwon_wrap">
            <!----------------- [ section1 서울 Top ]----------------->
            <div id="gj_top">
                <img src="{% static 'tour/images3/서울/seoul.png' %}"
                      alt="seoul" class="i1">
                <img src="{% static 'tour/images3/서울/seoul2.jpg' %}"
                      alt="seoul" class="i2">
                <div id="gj_topInfo">
                    <div class="gj_topInfo1">
                        <p><span class="region2">I.SEOUL.U</span></p>
                        <p><span>" <span class="region2">동행_매력_서울특별시</span> "</span></p>
                    </div>
                    <div class="gj_topInfo2">
                        <p>
                         대한민국의 수도이자 인구 1,000만의 중심지다. 현재는 대한민국의 심장과
                         같은 도시고 아시아에서도 국제적인 경쟁력을 보유한 도시까지 성장한 상태다.
                         1988년에는 올림픽 개최에 성공했고 2010년에는 G20 정상회의 개최에 성공한
                         전력이 있다. 도시 내부에서는 명동과 이태원 등이 현재 외국인 관광객들에게
                         굉장한 인기 장소로 꼽히는 중이다.
                         </p>
                    </div>
                </div>
            </div>
            <!----------------- [ 인천 Top ]----------------->
            <div id="gj_top">
                <img src="{% static 'tour/images3/인천/incheon.png' %}"
                      alt="incheon" class="i1">
                <img src="{% static 'tour/images3/인천/incheon2.png' %}"
                      alt="incheon" class="i2">
                <div id="gj_topInfo">
                    <div class="gj_topInfo1">
                        <p><span class="region2">Fly Incheon</span></p>
                        <p><span>" <span class="region2">동북아 허브도시 인천</span> "</span></p>
                    </div>
                    <div class="gj_topInfo2">
                        <p>
                        대한민국 제 2의 항구 도시이자 2001년 영종도에 간척 산업을 통해 세계
                        5대 규모의 인천국제공항 완공에 성공해 세계적인 관문으로 불리고 있다.
                        뿐만 아니라 해로인 인천항 또한 중국과 활발하게 이어져 있어 매우 원활하게
                        이동이 가능하다. 거기다가 해수욕장이 잘 되어 있어 대한민국 제 3의 도시지만
                        관광지로써도 뒤쳐지지 않는다.
                        </p>
                    </div>
                </div>
            </div>

            <!----------------- [ 경기 Top ]----------------->
            <div id="gj_top">
                <img src="{% static 'tour/images3/경기/gyeonggi.png' %}"
                      alt="gyeonggi" class="i1">
                <img src="{% static 'tour/images3/경기/gyeonggi2.png' %}"
                      alt="gyeonggi" class="i2">
                <div id="gj_topInfo">
                    <div class="gj_topInfo1">
                        <p><span class="region2">GO GREAT GYEONGGI</span></p>
                        <p><span>" <span class="region2">세계 속의 경기도</span> "</span></p>
                    </div>
                    <div class="gj_topInfo2">
                        <p>
                         대한민국에서 가장 인구가 많은 광역자치단체이다. 지리적으로 서울과 인천
                         두 대도시가 접견해 있고 빠른 개발이 이뤄져 현재는 수원을 포함한 3개의 시가
                         특례시로 성장했다. 현재 신도시 완공 및 교통과 편의 시설 이용이 편리한 지역의
                         급증에도 외곽에는 여전히 휴양지가 많아 다양한 역할 소화가 가능한 지역으로
                         평가받고 있다.
                        </p>
                    </div>
                </div>
            </div>

            <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 서울 소개 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

            <div class="miniImg_wrap1">
                <!----------------- [ 서울 ]----------------->
                <div class="miniImg">
                    <div class="miniFont1">
                        <h1><strong>서울</strong></h1>
                    </div>
                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/N서울타워/서울타워 배경.jpg' %}" alt="N서울타워">
                                <p class="hover_text">서울에 오면 무조건 들려야 하는 제1관광명소 남산서울타워는
                                    최근 각종 예능, 드라마의 촬영지로 이름이 높아지면서 관광객이 더욱 늘어나는 추세다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#서울타워</a>
                                <a href="" class="tag2">#커플</a>
                                <a href="" class="tag3">#데이트</a>
                            </p>
                            <p class="lol">서울타워</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                연평균 1,200만이 방문하는 서울 최상위권 관광지이자
                                최근 한류 바람에 각종 드라마의 촬영지로
                                급부상하며 관광객이 급증하고 있다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/경복궁/경복궁 배경.png' %}" alt="경복궁">
                                <p class="hover_text">서울특별시 종로구에 있는 조선 전기에 창건되어 정궁으로 이용된 궁궐</p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#경복궁</a>
                                <a href="" class="tag2">#역사</a>
                                <a href="" class="tag3">#종로구</a>
                            </p>
                            <p class="lol">경복궁</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                북궐이라고도 불리며 1963년 사적으로 지정되었다.
                                임진왜란 때 전소된 후 잠시 폐허로 남았으나 고종 때
                                중건되어 궁궐로 사용되었다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/낙산공원/낙산공원 배경.png' %}" alt="낙산공원">
                                <p class="hover_text">
                                    수도 서울을 구성하는 내사산의 하나다. 역사적 문화 환경을 복원하여
                                    쾌적한 공원 경관을 제공한다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#낙산공원</a>
                                <a href="" class="tag2">#대학로</a>
                                <a href="" class="tag3">#맛집</a>
                            </p>
                            <p class="lol">낙산공원</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                서울시민들에게 쾌적한 공원 경관을 제공하고
                                자연 탐방을 통해 역사와 문화 교육의 장을
                                제공할 목적으로 조성되었다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                           <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/롯데월드 어드벤처/롯데월드 배경.JPG' %}" alt="롯데월드 어드벤처">
                                <p class="hover_text">
                                    롯데월드는 대규모 실내공원으로 모험과 신비를 주제로 한 여러 시설로 구성되어 있다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#롯데월드</a>
                                <a href="" class="tag2">#놀이기구</a>
                                <a href="" class="tag3">#자이로드롭</a>
                            </p>
                            <p class="lol">롯데월드 어드벤처</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                실내외 전부 구성된 대규모의 놀이공원으로 모험과 신비를 주제로 한
                                테마파크다. 미국과 일본에 있는 디즈니랜드를 모티브로 했다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                           <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/롯데월드타워/롯데월드타워1.jpg' %}" alt="롯데월드타워">
                                <p class="hover_text">
                                    세계에서 5번째로 높은 건물, 본 건물은 롯데그룹의 한국 본사로서 사용되는 중이다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#롯데월드</a>
                                <a href="" class="tag2">#놀이기구</a>
                                <a href="" class="tag3">#자이로드롭</a>
                            </p>
                            <p class="lol">롯데월드타워</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                지상 123층, 높이 554m로 대한민국과 OECD에서 최고층 건물이다.
                                내부엔 호텔과 부속 건물인 대형 쇼퐁몰인 롯데월드몰이 있다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                           <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/서울숲/서울숲 배경.jpg' %}" alt="서울숲">
                                <p class="hover_text">
                                    기존의 뚝섬체육공원 일대를 대규모 도시 숲으로 만들었다.
                                    도심 속에서 자연을 느낄 수 있다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#자연경관</a>
                                <a href="" class="tag2">#힐링</a>
                                <a href="" class="tag3">#포토존</a>
                            </p>
                            <p class="lol">서울숲</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                기존 뚝섬체육공원 일대를
                                공원이 부족한 서울 동북부 지역의 시민들이 도심 속에서
                                자연을 느끼게 하기 위해 숲으로 개조되었다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                           <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/여의도 한강공원/한강공원 배경.png' %}" alt="여의도 한강공원">
                                <p class="hover_text">
                                   여의도 한강공원은 각종 공연 및 행사가 이어지는 볼거리와 즐길거리가 풍부한 휴식공간이다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#여의도</a>
                                <a href="" class="tag2">#한강</a>
                                <a href="" class="tag3">#나들이</a>
                            </p>
                            <p class="lol">여의도 한강공원</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                대중교통으로 접근성이 좋아 시민들이 즐겨찾고
                                세계불꽃축제와 봄꽃축제 등 다양한 행사도 많아
                                즐길거리가 풍부한 휴식공간이다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                           <a href="" class="banner_img"><img src="{% static 'tour/images3/서울/청계천/청계천 배경.png' %}" alt="청계천">
                                <p class="hover_text">
                                    청계천은 서울의 도시개발 역사를 상징하는 하천으로도 유명하다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#산책</a>
                                <a href="" class="tag2">#물놀이</a>
                                <a href="" class="tag3">#종로구</a>
                            </p>
                            <p class="lol">청계천</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                서울의 가운데를 지나는 한강과 이어지는 물길이다. 종로에 위치하고
                                있으며 여름엔 물놀이도 가능하고 옆에 산책로도 건설되어 있다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인천 소개 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <div class="miniImg_wrap2">
                <div class="miniImg">
                    <div class="miniFont1">
                        <h1><strong>인천</strong></h1>
                    </div>
                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/인천/송도/송도 배경.png' %}" alt="송도">
                                <p class="hover_text">
                                    인천시 남구의 송도는 경제자유구역이며 세계 최대 규모의 민간 도시 개발 사업이다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#국제도시</a>
                                <a href="" class="tag2">#경제자유구역</a>
                                <a href="" class="tag3">#신도시</a>
                            </p>
                            <p class="lol">송도</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                원래 섬이었지만 간척지 조성 과정에서 육지가 된 곳.
                                유원지로도 개발되면서 월미도와 함께 인천의 대표 해수욕장이 들어서게 되었다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/인천/월미도/월미도1.png' %}" alt="월미도">
                                <p class="hover_text">
                                    월미도는 문화예술 공연과 월미축제, 월미테마파크 등 각종 행사와
                                    놀이기구가 있다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#월미도테마파크</a>
                                <a href="" class="tag2">#디스코 팡팡</a>
                                <a href="" class="tag3">#바다</a>
                            </p>
                            <p class="lol">월미도</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                섬 모양이 반달의 꼬리처럼 휘어져 있는 데서 이름이 따였고
                                해안에는 각종 놀이 시설과 유흥 시설이 다양해 즐길거리가 상당히 많다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/인천/을왕리/을왕리 배경.png' %}" alt="을왕리">
                                <p class="hover_text">
                                    인천 중구 영동조의 서쪽 해안에 자리한 접근성이 좋은 해수욕장이다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#을왕리해수욕장</a>
                                <a href="" class="tag2">#캠핑장</a>
                                <a href="" class="tag3">#펜션</a>
                            </p>
                            <p class="lol">을왕리 해수욕장</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                영종도 서쪽 해안에 위치한 해수욕장. 수도권에서 접근성이 매우
                                좋으며 가는 길에 인천 국제공항도 지나서 볼거리가 많은게 장점이다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/인천/인천대교/인천대교 배경.png' %}" alt="인천대교">
                                <p class="hover_text">  인천국제공항이 있는 영종도와 송도국제도시를 연결하는 총연장 18.38km의 다리로 우리나라에서 가장 크고 길다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#대교</a>
                                <a href="" class="tag2">#야경</a>
                                <a href="" class="tag3">#인천공항</a>
                            </p>
                            <p class="lol">인천대교</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                영종도와 송도를 잇는 총 21.38km의 대한민국 최장 대교.
                                서해를 횡단하여 연속적으로 이어지고
                                야간에 켜지는 조명 또한 환상적이다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 경기도 소개 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

            <div class="miniImg_wrap3">
                <div class="miniImg">
                    <div class="miniFont1">
                        <h1><strong>경기도</strong></h1>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/경기/가평 자라섬/자라섬 배경.png' %}" alt="자라섬">
                                <p class="hover_text">
                                    자라섬은 경기도 가평군 가평읍 달전리 1-1번지 일원에 있는 섬이다.
                                    4개의 섬으로 이뤄져있다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#자라섬</a>
                                <a href="" class="tag2">#빠지</a>
                                <a href="" class="tag3">#꽃축제</a>
                            </p>
                            <p class="lol">자라섬</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                1943년 청평댐이 건설되며 북한강에 생긴 섬.
                                동도/서도/중도/남도 등 4개 섬으로 이뤄져 있고
                                레저와 생태공원 시설도 들어서고 있다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/경기/광명 동굴/광명1.png' %}" alt="광명 동굴">
                                <p class="hover_text">
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#동굴</a>
                                <a href="" class="tag2">#10대관광지</a>
                                <a href="" class="tag3">#황금광산</a>
                            </p>
                            <p class="lol">광명동굴</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                원래 탄광이었으나 2011년 광명시가 매입하여 역사ㆍ문화 관광시설로 전환되었다.
                                산업유산 및 문화 가치가 결합된 최상위 동굴 테마파크.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/경기/수원 화성/화성 배경.jpg' %}" alt="수원 화성">
                                <p class="hover_text">
                                     수원화성은 조선왕조 제22대 정조대왕이 아버지 사도세자를 위해 축성되었다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#수원화성</a>
                                <a href="" class="tag2">#세계유산</a>
                                <a href="" class="tag3">#랜드마크</a>
                            </p>
                            <p class="lol">화성</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                수원에 위치한 조선 시대 정조 대왕이 건설했던 성곽 건축물.
                                현재는 수원의 대표 랜드마크이자 무려 유네스코 세계유산으로 등재되었다.
                            </p>
                        </div>
                    </div>

                    <div class="min_content">
                        <div class="scale">
                            <a href="" class="banner_img"><img src="{% static 'tour/images3/태화강 십리대숲.jpg' %}" alt="제부도">
                                <p class="hover_text">강변을 따라 십리나 펼쳐지는 대숲은 울산의 허파 같은 곳이다.
                                70만 그루의 울창한 대숲 안으로 들어서면 온통 초록 세상이다.
                                </p>
                            </a>
                        </div>
                        <div class="mini_info">
                            <p class="tag">  <!--샵태그-->
                                <a href="" class="tag1">#대나무</a>
                                <a href="" class="tag2">#십리대숲</a>
                                <a href="" class="tag3">#70만그루</a>
                            </p>
                            <p class="lol">서해랑 제부도해상케이블카</p> <!--지역명-->
                            <p class="detail"> <!--지역설명-->
                                제부도 지역 고유의 특징을 담은 현대적 이미지로의
                                해석을 담은 입면 계획과 기존 타 지역 케이블카와는 전혀 다른 복합 레져 상업시설.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div>
                <ul id="bottom-menu">
                    <li><a href="#" target="_blank">사이트소개</a></li>
                    <li><a href="#" target="_blank">임원소개</a></li>
                    <li><a href="https://www.law.go.kr/LSW/admRulLsInfoP.do?admRulSeq=2100000218300" target="_blank"><b>개인정보 처리방침</b></a></li>
                    <li><a href="https://support.google.com/legal/answer/3463239?hl=ko" target="_blank">이용약관</a></li>
                    <li><a href="https://gangnam.greenart.co.kr/?cam_idx=1" target="_blank">본사홈페이지</a></li>
                </ul>
            </div>
            <div class="about_us">
                문의) 그린투어 운영팀: help@greentour.com
            </div>
        </footer>

{% endblock %}