/* 강원/제주 페이지 */
#gangwon_wrap{width: 1400px; margin:0 auto;}
.box1{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.3);}
.box1 img{width: 300px; height:300px; margin: 50px 0 50px 30px; border-radius: 30px 0 0 30px; float: left;}
.box1 img:nth-of-type(2){margin-left: -30px; border-radius: 30px; margin-right: 30px;}
.box1 .introduce1{padding-top: 50px; width: 600px; float: right; margin-right: 100px;}
.box1 .introduce1 .region1{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box1 .introduce1 p{line-height: 2;}
/* box1 끝 */


.box2{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.3);}
.box2 img{width: 350px; height:300px; margin: 50px 70px 50px 0px; border-radius: 0 30px 30px 0; float: right;}
.box2 img:nth-of-type(2){margin-left: 30px; border-radius: 30px; margin-right: -30px;}
.box2 .introduce2{padding-top: 70px; width: 600px; float: left; margin-left: 20px;}
.box2 .introduce2 .region2{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box2 .introduce2 h3{text-align: right;}
.box2 .introduce2 p{line-height: 2;}
/* box2 끝 */

/* 민정누나 CSS */
#busan_top{margin-top: 50px; padding-bottom: 50px; display: flex; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.3);}
#busan_top > img{float: left; }
#busan_top .i1, #busan_top .i2{border-radius: 30px;}
#busan_top .i1{width: 340px; height: 280px;}
#busan_top .i2{width: 340px; height: 280px; margin-left: -40px;}

#busan_top .busan_topInfo{margin: 10px 0 0 20px;}
#busan_top span{color: #000429; font-weight: bold; font-size: 1.7em;}
#busan_top .region2{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}
#busan_top .busan_topInfo1, #busan_top .busan_topInfo2{margin: 10px 0 0 20px;}
#busan_top .busan_topInfo1 p:nth-child(2){font-size: 0.9em;}
#busan_top .busan_topInfo2 > p{width: 600px; margin-top: 10px; line-height: 1.6;}