/* 강원/제주 페이지 */
/*  내가 했던것
#gangwon_wrap{width: 1200px; margin:0 auto;}
.box1{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.3);}
.box1 img{width: 300px; height:300px; margin: 50px 0 50px 30px; border-radius: 30px 0 0 30px; float: left;}
.box1 img:nth-of-type(2){margin-left: -30px; border-radius: 30px; margin-right: 30px;}
.box1 .introduce1{padding-top: 50px; width: 600px; float: right; margin-right: 100px;}
.box1 .introduce1 .region1{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box1 .introduce1 p{line-height: 2;}

.box2{height: 400px; box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2);}
.box2 img{width: 350px; height:300px; margin: 50px 70px 50px 0px; border-radius: 30px; float: right;}
.box2 img:nth-of-type(2){margin-left: 30px; border-radius: 30px; margin-right: -30px;}
.box2 .introduce2{padding-top: 70px; width: 600px; float: left; margin-left: 20px;}
.box2 .introduce2 .region2{color: rgb(50, 180, 0); font-size: 2em; font-family: 'Single Day', cursive;}
.box2 .introduce2 h3{text-align: right;}
.box2 .introduce2 p{line-height: 2;}
*/

#gangwon_wrap{width: 1400px; margin:0 auto;}

#gj_top{padding: 50px 0; display: flex; justify-content: center; align-items: center;
                     box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);}

#gj_top > img{float: left; overflow: hidden;}
#gj_top img{width: 340px; height: 300px; border-radius: 30px; transition: all 0.2s linear; overflow: hidden;}
#gj_top img:hover{transform: scale(1.05); overflow: hidden;}
#gj_top img:nth-of-type(2){width: 340px; height: 300px;}
#gj_top .i2{margin-left: -30px;}

#gj_top .gj_topInfo{margin: 10px 0 0 20px; }
#gj_top span{color: #000429; font-weight: bold; font-size: 1.5em;}
#gj_top .region2{color: rgb(50, 180, 0); font-family: 'Single Day', cursive;}
#gj_top #gj_topInfo{margin-left: 30px; height: 280px;}
#gj_top .gj_topInfo1, #gj_top .gj_topInfo2{margin: 10px 0 0 20px;}
#gj_top .gj_topInfo1 p:nth-child(2){font-size: 0.9em;}
#gj_top .gj_topInfo2 > p{width: 500px; margin-top: 10px; line-height: 1.7;}

/* ============도 소개 끝============ */

/* 액자식 시작 */

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.miniImg_wrap{width: 100%; height: 550px; text-align: center; box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);}
.miniImg_wrap h1{margin: 20px 0; text-align: left; padding-left: 50px;}
.min_content{width: 330px; height:450px; display: inline-block; text-align: center; margin: 10px 10px 0 0; }
.min_content .scale{overflow: hidden; width: 330px; height: 250px;}
.min_content a:hover img{transform: scale(1.2); transition: all 1s; filter: brightness(70%);}
.min_content:nth-last-of-type(){display: inline-block; text-align: center; margin-right: 0px;}
.min_content img{width: 330px; height: 250px; border-radius: 15px 15px 0 0; }
.min_content .mini_info .tag{background: rgba(50,50,50,0.1); padding: 13px 0;
                        border-radius: 0 0 15px 15px; text-align: center; font-size: 0.9em; margin-top: -5px;}
.min_content .mini_info .tag2{padding: 0 15px;}
.min_content .mini_info a{text-decoration: none; font-size: 0.9em;}
.min_content .mini_info a:hover{font-weight: bold; color: blueviolet;}
.min_content .mini_info p:nth-of-type(2){margin-bottom: 10px;}
.min_content .mini_info .detail{height: 130px; font-size: 16px;}

